li {
  list-style-type: none;
}

.list-ul-products {
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 5px;
  row-gap: 2px;
  padding: 0px 50px;
  min-height: 70vh;
}

.list-products {
  margin: 25px;
}

@media screen and (max-width: 768px) {
  .list-ul {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
}
