@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');

body{
  margin:0;
  text-align: center;
  font-family: 'Comfortaa';
}

.light-mode {
  background-color: rgb(255, 255, 255);
  color: black;
  transition: all 1s ease-in-out;

}

.dark-mode {
  background-color: #2b2a2aca;
  color: white;
  transition: all 1s ease-in-out;
}

main{
  min-height: 85vh;
}

.nav{
  border-bottom: 1px solid #ebebeb;
}

.nav-li{
  text-decoration: none;
  list-style-type: none;
}

a{
  text-decoration: none;
  color: rgba(0, 0, 0, 0.729);
  text-align: center;
}

.nav-ul{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  font-size: 16px;
  text-decoration: none;
  padding: 0;

}
.active{
  color: rgba(203, 197, 197, 0.836);
}

li{
  text-decoration: none;
  list-style-type: none;
}


.list-ul {
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 5px;
  row-gap: 2px;
  padding: 10px 50px;
  min-height: 90vh;
}
