li {
  list-style-type: none;
  cursor: pointer;
}

.categories-ul {
  padding: 0;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 5px;
  row-gap: 20px;
}

.categories-list {
  margin: 15px 0;
  border-bottom: 1px solid #ebebeb;

}

@media screen and (max-width: 768px) {
  .categories-ul {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
}
